.skill-container li::before {
    content: '';
    position: absolute;
    left: calc(90px + 30px);

    background-color: rgb(170, 167, 173);
    width: 70%;
    height: 20px;
    border-radius: 100px;
}

.skill-container li::after {
    content: '';
    position: absolute;
    left: calc(90px + 30px);

    background-color: rgb(249, 249, 250);
    width: 0;
    height: 20px;
    border-radius: 100px;

    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: forward; */
    animation-fill-mode: forwards;
}

.skill-container li.html::after {
    animation-name: html;
}

.skill-container li.css::after {
    animation-name: css;
}

.skill-container li.boot::after {
    animation-name: boot;
}

.skill-container li.tail::after {
    animation-name: tail;
}

.skill-container li.java::after {
    animation-name: java;
}

.skill-container li.python::after {
    animation-name: python;
}

@keyframes html {
    to {
        width: 50%;
        background-color: #0ad171;
    }
}

@keyframes css {
    to {
        width: 40%;
        background-color: #0ad171;
    }
}

@keyframes boot {
    to {
        width: 70%;
        background-color: #0ad171;
    }
}

@keyframes tail {
    to {
        width: 70%;
        background-color: #0ad171;
    }
}

@keyframes java {
    to {
        width: 70%;
        background-color: #0ad171;
    }
}

@keyframes python {
    to {
        width: 50%;
        background-color: #0ad171;
    }
}