@media only screen and (min-width: 320px) and (max-width: 800px) {
    #iconMenu {
        display: block;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color: rgb(97, 104, 104);
        top: 100px;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        display: none;
    }

    #navMenu {
        display: none;
    }

    .header_btn_resume {
        position: fixed;
        width: 40%;
        height: 10vh;
        top: 445px;
        left: 100px;
        display: flex;
        flex-direction: column;
    }

    .iconMenu {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    #r-download {
        width: 40%;
    }

    .mainheader {
        width: 100%;
        border: 10px solid crimson;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #navMenu {
        display: none;
    }
}