* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

#preloader {
    background: #fff url(../images/loader2.gif) no-repeat center center;
    background-size: 25%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
}

header {
    width: 100%;
}

.mainheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 28, 26);
    position: fixed;
}

.mainheader .logo img {
    width: 200px;
    height: 100px;
    padding-left: 80px;
}

.mainheader nav {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheader nav a {
    color: #0ad171;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.mainheader .header_btn_resume a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, red, yellow);

}

.mainheader .header_btn_resume {
    margin-right: 40px;
}

.my-intro {
    width: 100%;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.left_half {
    width: 50%;
    padding-left: 30px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}

.right_half {
    width: 50%;
    display: flex;
    justify-content: center;
}

.left_half a {
    text-decoration: none;
    width: 50%;
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, crimson, orange);
    font-weight: 600;

}

.left_half h1 {
    font-size: 40px;
}

.left_half h3 {
    color: midnightblue;
    font-size: 30px;
    padding-top: 10px;
}

.left_half span {
    color: crimson;
}

.right_half img {
    width: 60%;
    height: 40%;
}

.card {
    border: 5px solid black;
    width: 430px;
    text-align: center;
    padding: 15px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
}

.project_info {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.btn-link {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btn-link a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    font-weight: 700;
    background-image: linear-gradient(to right, darkslategrey, cornflowerblue);
    border-radius: 5px;

}



.skillMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    margin-bottom: 30px;
    margin: 5px 29px;
}

.exprence,
.education,
.languageSkill {
    background-color: gray;
    padding: 30px;
}

.skillMain img {
    width: 50%;
    text-align: center;
    border: 5px solid black;
    border-radius: 200px;
}

.imgDiv {
    text-align: center;
}

.education a {
    color: white;
}

.eduInfo {
    margin-bottom: 10px;
    margin-top: 10px;
}


.skill_title {
    text-align: center;
    background-color: rgb(70, 64, 64);
    color: white;
    padding: 10px 0px;

}

.skill_title h1 {
    text-transform: uppercase;
}

.skill-container {
    padding-left: 5px;
}

.skill-container li {
    list-style-type: none;
    margin: 20px 0px;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



/* footer part design */
footer {
    background-color: teal;
    padding: 50px;
    text-align: center;
}